<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535084049450-7kcb3pqsd77njhp0t498mev7i4qh5d6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535084049450-7kcb3pqsd77njhp0t498mev7i4qh5d6p</string>
	<key>API_KEY</key>
	<string>AIzaSyD2R0BnX0KfqxXhra8VXrnqEBAkXTNyYFU</string>
	<key>GCM_SENDER_ID</key>
	<string>535084049450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calendarioEscolar</string>
	<key>PROJECT_ID</key>
	<string>calendario-school</string>
	<key>STORAGE_BUCKET</key>
	<string>calendario-school.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535084049450:ios:4bb3bd1b4c6409862e0f53</string>
</dict>
</plist>